body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    width: 100vw;
    height: 100vh;
    background-image: url(https://wallpaperaccess.com/full/438941.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;

}

button {
    margin-top: 10px;
    font-size: 18px;
    background-color: rgb(205, 252, 255);
    border-radius: 15px;
    box-shadow:  0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF;
}

input {
    background-color: rgb(227, 253, 255);
    box-shadow:  0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF;    
}

select {
    background-color: rgb(227, 253, 255);     
    box-shadow:  0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF;
}

[type = 'submit'] {
    font-size: 16px;
    background-color: rgb(205, 252, 255);
    box-shadow:  0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF;
}

form {
    margin-top: 10px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF;
}

section {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 70vw;
        
}

#quoteSection {
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #18fff3, 0 0 30px #18fff3, 0 0 40px #18fff3, 0 0 55px #18fff3, 0 0 75px #18fff3;
}